.container {
  padding: 40px 10vw;
  background: transparent;
  border-radius: 10px;
}

.main-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.title {
  color: var(--black-text-color);
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.description {
  color: var(--gray-text-color);
  text-align: justify;
  font-size: 14px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  background: var(--gray-background);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}

.item strong {
  color: var(--item-strong);
}

.welcome-message {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

strong {
  color: #007bff;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px 5vw;
  }
}
