.faq-container {
  padding: 60px 20vw;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #11445b;
}

.faq-item {
  margin-bottom: 1em;
}

.faq-question {
  border-radius: 5px;
  background-color: var(--gray-background);
  padding: 1em;
  text-align: left;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-out;
}

.faq-answer {
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-top: none;
  background-color: var(--white-background);
  font-size: 13px;
}

.admin-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-actions .edit-faq img,
.admin-actions .delete-faq-button img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}

.delete-faq-button {
  border: none;
}

.admin-actions .edit-faq img:hover,
.admin-actions .delete-faq-button img:hover {
  transform: scale(1.2);
  border: none;
}

.add-faq-form {
  background-color: var(--white-background);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-faq-title {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.add-faq-label {
  font-size: 14px;
  font-weight: bold;
}

.add-faq-input,
.add-faq-textarea {
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-faq-button {
  background-color: var(--button-color);
  color: var(--white-text-color);
  padding: 10px 10px;
  border-radius: 4px;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
}
.add-faq-button img {
  width: 20px;
  height: 20px;
}

.add-faq-button span {
  font-size: 16px;
}
.add-faq-button:hover {
  background-color: var(--button-hover-color);
}

.faq-edit-page {
  padding: 5vw 0;
}

.faq-edit-container {
  background-color: var(--white-background);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.faq-edit-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.faq-edit-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-edit-container label {
  font-size: 14px;
  font-weight: bold;
}

.faq-edit-container input,
textarea {
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.faq-edit-container button {
  background-color: var(--button-color);
  color: var(--white-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-edit-container button:hover {
  background-color: var(--button-hover-color);
}

@media screen and (max-width: 768px) {
  .faq-container {
    padding: 60px 5vw;
  }
}
