.faq-container {
  padding: 0 10vw;
  margin: 60px 0 100px;
}

h2 {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

.faq-item {
  margin-bottom: 1em;
}

.faq-question {
  border-radius: 5px;
  background-color: rgba(224, 224, 224, 0.6);
  border: none;
  padding: 1em;
  text-align: left;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-out;
}

.faq-answer {
  border-radius: 0px 0px 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-top: none;
  background-color: #fafafa;
  font-size: 13px;
}

.faq-item.active .faq-question {
  border-radius: 5px 5px 0px 0px;
}

.faq-item.active .faq-answer {
  max-height: 200px;
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.admin-actions .edit-faq,
.admin-actions .delete-faq-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-actions .edit-faq:hover,
.admin-actions .delete-faq-button:hover {
  background-color: #0056b3;
}

.admin-actions .delete-faq-button {
  background-color: #dc3545;
}

.admin-actions .delete-faq-button:hover {
  background-color: #c82333;
}

.add-faq-form {
  background-color: transparent; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.add-faq-title {
  font-size: 16px;
  text-align: center;
}

.add-faq-label {
  display: none;
}

.add-faq-input,
.add-faq-textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 150px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.add-faq-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.add-faq-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.add-faq-button:hover {
  background-color: #bbb;
}

.add-faq-button-container {
  display: flex;
  justify-content: center;
  width: 100%; 
}
