body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-size: cover;
}

.form-container {
  background: rgba(249, 248, 248, 0.797); 
  color: #1d0202;
  width: 400px;
  margin: 100px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(201, 192, 192, 0.832);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
 color: #007bff;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-logo {
    display: block;
    max-width: 100px;
    margin: 0 auto 20px;
     
  }
  

label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  align-items: center;
  
  
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 auto;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}


.form-group {
  margin-bottom: 20px;
  font-family:sans-serif;
}


.file-upload-input {
  display: none; 
}


.file-upload-label {
  display: inline-block;
  background-color:#007bff; 
  color: #ffffff; 
  font-size: 16px;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}


.file-upload-label:hover {
  background-color:#007bff; 
}


.btn-register{
  background-color: #007bff; 
  color: #fff; 
  width: 100%; 
  padding: 10px 0; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  text-align: center; 
  cursor: pointer; 
  font-family: Arial, sans-serif; 
}

.btn-register:hover {
  background-color: #0056b3; 
  transition: background-color 0.3s ease; 
}


  .form-footer {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }

  .form-footer a {
    color: #007bff;
    text-decoration: none;
  }

  .form-footer a:hover {
    text-decoration: underline;
  }



.error-msg {
  color: red;
}
